body{
    background: linear-gradient(
      to right,
      #5f98ee,
      #20EB9A);
    color: #ffffff;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
#apresentacao{
    display: flex;
    font-size: 30px;
    margin: auto;
    padding: 30px;
    text-align: left;
}
#roules{
    font-size: 27px;
    padding: 25px;
    text-align: center;
    align-items: center;
}
#botoes{
    padding: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
}
#botoes button{
    min-width: 150px;
    min-height: 40px;
}