<body>
    <div id="Fundo">
            <p id="ID">Detalhes do Projeto</p>
            <p id="Titulo">Innov8ors</p>


        <div id="ID">
            <p>ID:</p>
        </div>

        <div id="Expansion">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Membros
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>Nome Membro</li>
                        <li>Nome Membro2</li>
                    </ul>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Notas
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>Nota</li>
                        <li>Nota2</li>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>
            <div class="bot">
                <button mat-raised-button color="fetincolor">Voltar</button>
            </div>
        </div>

    </div>
</body>