<body>
  <div id="adm">Ola, {{name}}
  <div class="but-row">
    <button mat-raised-button (click)="createProject()">Criar projeto</button>
    <button mat-raised-button>Importar planilha</button>
  </div>
  </div>

  <mat-accordion>
    <div id="dados">
      <mat-expansion-panel id="test" (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Projetos cadastrados
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let team of teams_names">
          <p> • {{ team }}</p>
        </div>
      <button mat-raised-button color="fetincolor" (click)="updateData()">Atualizar dados</button>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</body>