body{
  background: linear-gradient(
    to right,
    #5f98ee,
    #20EB9A);
  color: #ffffff;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
#titulo{
  color: black;
  text-align: center;
}
#titulo p {
  font-size: 15px;
  margin-top: 8px;
}
.auth-style {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: #fff;
  border-radius: 5%;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
.mat-fetincolor{
  background-color: #5f98ee;
  color: #ffffff;
}