body{
  background: linear-gradient(
    to right,
    #5f98ee,
    #20EB9A);
}
#nome{
    padding: 25px;
    background: linear-gradient(
      to right,
      #5f98ee,
      #20EB9A);
    color: #ffffff;
    font-size: 30px;
	margin: auto;
	text-align: left;
  line-height: 100%;
}

#dados_projeto, #membros, #entregas{
    padding: 12px 30px;
    background: linear-gradient(
      to right,
      #5f98ee,
      #20EB9A);
    color: #ffffff;
    font-size: 15px;
	  text-align: left;
}

.mat-fetincolor{
  background-color: #5f98ee;
  color: #ffffff;
}

.dados_proj_space{
  margin-bottom: 2%;
}