<body>
  <div id="nome">Fase atual: {{ phaseName }}</div>

<mat-accordion>
  
  <div id="dados_projeto">
    <mat-expansion-panel *ngFor="let team of teams; let i = index" class="dados_proj_space">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Dados do time {{i+1}}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <p>ID: {{ id[i] }}</p>
      <p>Titulo: {{ name[i] }}</p>
      <p>Orientador: {{ advisorName[i] }}</p>
      <p>Ativo: {{ status[i] }}</p>
      <button mat-raised-button color="fetincolor" (click)="seeDetails(i)">Mais detalhes</button>
    </mat-expansion-panel>
  </div>

</mat-accordion>
</body>