<body>
    <div class="auth-style">
        <div id="titulo">
        <h2>Criar projeto</h2>
    </div>
        <mat-form-field>
            <mat-label>Titulo</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Membros</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Orientador</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Status</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-raised-button color="fetincolor">Salvar</button>
    </div>
</body>