body{
    background: linear-gradient(
      to right,
      #5f98ee,
      #20EB9A);
    color: #ffffff;
    padding: 0;
    margin: 0;
  }
  #titulo{
    color: black;
    text-align: center;
  }
  #titulo p {
    font-size: 15px;
    margin-top: 8px;
  }
  .auth-style {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background: #fff;
    border-radius: 2%;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
  .mat-fetincolor{
    background-color: #5f98ee;
    color: #ffffff;
  }